* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #007bff;
  height: 100%;
}

div {
  margin: 8px 0;
}

#options button {
  margin-right: 8px;
}

#quiz-container {
  position: relative;
  zoom: 1;
  width: 80%;
  max-width: 600px;
  min-height: 457.6px;
  padding: 2rem;
  text-align: center;
  margin: 3rem auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#quiz-content {
  display: none;
  max-height: 100%;
}

#quiz-start-btn {
  margin-top: 1rem;
  padding: 1rem 2rem;
}

#quiz-start-text {
  font-size: 1rem;
  color: #333;
  padding: 1.5rem 2rem;
}
/* HEADER STYLES*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2.5rem;
  margin-bottom: -0.1rem;
  background-color: transparent;
}

#title {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: bold;
}

#quiz-timer-container {
  background-color:  #cce5ff;
  border-radius: 5px;
  width: 155px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2%;
  justify-content: space-between;
  font-size: medium;
  font-weight: bold;
}

#quiz-timer {
  font-size: 1rem;
  font-weight: bold;
  background-color: #000000;
  border-radius: 4px;
  padding: 3px;
  width: 50px;
  height: 28px;
  color: rgb(255, 255, 255);
}

#progress-bar {
  border-top: 2px solid blue;
  margin:0 -2rem;
  margin-top: 15;
  text-shadow: 10px 10px;
}

/* Progress & Next Question Section */
#quiz-container-footer {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  margin-bottom: 1.5%;
  background-color: transparent;
  width: 100%; 
}

#progress { 
 font-size: medium;
 font-weight: bold;
 margin-right: auto;
}

#next-question { 
  position: absolute;
  right: 0;
  padding: .4rem 1.9rem;
  border-radius: 0.5rem;
  font-size: medium;
  margin-right: 10%;
  background-color: #007bff;
  border: 1px solid #007bff;
}

/* QUESTIONS and OPTIONS */
#question { 
  font-size: 1.25rem;
  height: 80px; 
  font-weight: bold;
}

#options { 
  height: 125px;
  list-style: none;
}

#options button {
  position: relative;
  display: list-item;
  width: 100%;
  text-align: left;
  background-color: #f0f8ff;
  color: #000;
}

#options button:hover {
  background-color:  #007bff;
  border: 1px solid #f0f8ff;
}

.selected-answer, .selected-answer:active, .selected-answer:hover {
  background-color: #0bdcf7;
  border: 1px solid #0bdcf7;
  color: #000;
}


/* `````````````````````````````````*/
.tooltip {
  visibility: hidden;
  width: auto;
  font-size: 1rem;
  background-color: #eee;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 8px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.show-tooltip {
  visibility: visible;
  opacity: 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.question-review {
  margin-top: 3rem;
  padding: 0 1rem;
  text-align: left;
}

.review-container {
  margin-top: 44rem;
}

.review-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.feedback {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0 3.5rem;
}

#retry-quiz {
  position: absolute;
  top: 11rem; 
  left: calc(50% - 190px);
    background-color: #4CAF50; 
    color: white;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px; 
    cursor: pointer; 
    border: none;
    border-radius: 4px; 
    transition-duration: 0.4s; 
}

#retry-quiz:hover {
    background-color: #45a049; 
}

#download-pdf {
  position: absolute;
  top: 11rem;
  left: calc(50% - 40px);
    background-color: #f44336;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;
}

#download-pdf:hover {
    background-color: #d32f2f;
}

#resultsChart {
  position: absolute;
  top: 14.8rem;
  left: calc(600px -100vw);
}